body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#f6fa70 60%, #0079ff);
  color: #0079ff;
  min-height: 100vh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 3px 2px 2px #ff0060;
}

button {
  padding: 8px;
  font-size: 1.8rem;
  background: #fffbeb;
  height: 3rem;
  width: 40%;
  border-color: #cdc2ae;
  border-radius: 0.5rem;
}

main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

article {
  font-size: 2rem;
}

#cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  border-radius: 0.8em;
  width: 30vw;
  aspect-ratio: 1 / 1;
  transition: all ease 0.3s;
  background-size: cover;
  background-position: center;
}
.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 2px #cdc2ae;
}
.card:active {
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 2px #cdc2ae;
}

.card[value="stone"] {
  background-image: url("./images/rock.jpeg");
}
.card[value="paper"] {
  background-image: url("./images/paper.jpeg");
}
.card[value="scissors"] {
  background-image: url("./images/scissors.jpeg");
}

#modal[open] {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 1.5rem;
  color: #eee;
}

.hidden {
  display: none;
}

@media (max-width: 640px) {
  #cards-wrapper {
    flex-direction: column;
  }
}
